<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | System Admin</title>
    <link rel="stylesheet" href="{{ url_for('boundary.static', filename='admin/base.css') }}">

    {% block styles %}
    {% endblock styles %}

</head>
<body>
    <section class="container">
        <aside class="side-bar flex-column">
            <div class="side-bar__header">
                <h3>Cafe Management System</h3>
            </div>

            <div class="side-bar__section">
                <div class="side-bar__section-content flex-column">
                    <div class="side-bar__option">
                        <a href="{{ url_for('boundary.admin.dashboard' ) }}">Dashboard</a>
                    </div>
                </div>
            </div>

            <div class="side-bar__section">
                <span class="side-bar__section-heading">USER PROFILE</span>
                <div class="side-bar__section-content flex-column">
                    <div class="side-bar__option">
                        <a href="{{ url_for('boundary.admin.create_user_profile' ) }}">Create User Profile</a>
                    </div>
                    <div class="side-bar__option">
                        <a href="{{ url_for('boundary.admin.view_user_profiles' ) }}">View User Profiles</a>
                    </div>
                </div>
            </div>

            <div class="side-bar__section">
                <span class="side-bar__section-heading">USER ACCOUNT</span>
                <div class="side-bar__section-content flex-column">
                    <div class="side-bar__option">
                        <a href="{{ url_for('boundary.admin.create_user_account' ) }}">Create User Account</a>
                    </div>
                    <div class="side-bar__option">
                        <a href="{{ url_for('boundary.admin.view_user_accounts' ) }}">View User Accounts</a>
                    </div>
                    <div class="side-bar__option">
                        <a href="{{ url_for('boundary.admin.view_suspended_user_accounts' ) }}">View Suspended User Accounts</a>
                    </div>
                </div>
            </div>

            <div class="side-bar__section section__signout">
                <div class="side-bar__section-content">
                    <div class="side-bar__option">
                        <a href="{{ url_for('boundary.auth.logout') }}">Sign Out</a>
                    </div>
                </div>
            </div>
        </aside>
        <main class="content">
            <div class="page__heading">
                <h1>{{ title }}</h1>
            </div>
            <div class="content__wrapper">
                <div class="flash_messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <span>{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </section>
</body>
</html>