@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.required::after{
    content: "*";
    color: red;
    font-size: 20px;
}